<%- include ('./include/header') %>

<%- include ('./include/nav') %>



<div class="about">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Consequatur totam a aperiam eaque 
        harum fugiat iusto ipsum minima officia id</p>
    <p>Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Consequatur totam a aperiam eaque 
        harum fugiat iusto ipsum minima officia id</p>
    <p>Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Consequatur totam a aperiam eaque 
        harum fugiat iusto ipsum minima officia id</p>
</div>


<%- include ('./include/footer') %>